
<header class="item header-item">
    <h1>Dog List</h1>
</header>

<nav class="item nav-item">
    <a class="nav-link" routerLink="home">Breed List</a>
</nav>

<main class="item main-item">
    <router-outlet></router-outlet>
</main>

<footer class="item footer-item">
    Copyright &copy;2020 All Rights Reserved.
</footer>


