<section>
    <header>
        <h3 class="capitalize">Browse {{ breed }}</h3>
    </header>
    <article>
        <span *ngIf="errorMsg && !imageUrl" class="error-msg">{{ errorMsg }}</span>
        <button *ngIf="!errorMsg" (click)="getRandomImage()" class="btn">Fetch</button>
        <div>
            <span *ngIf="loading && !errorMsg">Fetching Image...</span>
            <img *ngIf="imageUrl && !errorMsg" src="{{ imageUrl }}" alt="{{ breed }}"/>
        </div>
    </article>
</section>




