* {
    margin: 0;
    padding: 0;
}

body, app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 15px verdana;
    padding: .25rem;
}

.item:not(:last-child) {
    margin-bottom: .7rem;
}

.item {
    border: 1px solid black;
    background-color: antiquewhite;
    min-width: 978px;
    max-width: 978px;
    padding: .67rem;
}

.header-item, .footer-item {
    text-align: center;
}

.header-item {
    height: 10rem;
    line-height: 10rem;
}

.nav-item {
    height: 2.3rem;
    line-height: 2.3rem;
}

.main-item {
   flex-grow: 1;
}

.footer-item {
    margin-top: auto; 
    min-height: 1.3rem;
}

.error-msg {
    color: red;
}

.btn {
    width: 5rem;
    height: 2rem;
    display: block;
    margin: 1.5rem 0;
}

.capitalize {
    text-transform: capitalize;
}

.nav-link {
    font-weight: bold;
    font-size: 1.2rem;
    color: blue;
    text-decoration: none;
}

.nav-link:visited {
    color: blue;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 999px) {
    .item {
        max-width: 100%;
        min-width: 100%;
        border: none;
    }
}