<section>
    <header>
        <h3>List of Breeds</h3>
        <p>Click Breed to Browse</p>
    </header>

    <article>
        <span *ngIf="loading && !errorMsg">Loading Breeds...</span>
        <span class="error-msg" *ngIf="errorMsg && !loading">{{ errorMsg }}</span>
        <div class="breed-list" *ngIf="breeds.length && !errorMsg && !loading">
            <div  class="breed-item" *ngFor="let breed of breeds">
                <a routerLink="/browse/{{ breed.name }}">{{ breed.name }}</a>
            </div>   
        </div>
    </article>
</section>
