
.breed-list {
    max-width: 978px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: .7rem;
}

.breed-item {
    width: 12rem;
    margin: 0 .7rem;
}

.breed-item a{
    display: block;
    width: 100%;
    border: black solid 1px;
    padding: .35rem;
    background-color: rgba(255, 210, 106, 0.685);
    text-decoration: none;
    color: blue;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.breed-item a:visited {
    color: blue;
}


